* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and(max-width: 75em) {
    font-size: 56.25%;
  }

  @media only screen and(max-width: 60em) {
    font-size: 50%;
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 35%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
