/* .for_slick_slider {
  display: flex;
}

.for_slick_slider .items {
  width: 350px;
  height: 250px;
  margin: 50px;
}

.for_slick_slider .items img {
  width: 350px;
  height: 250px;
} */

.sld-wrp {
  width: 950px;
  margin: 0 auto;
}

.slider-for {
  width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.slide-container {
  height: 40vh;

  text-align: center;
  line-height: 40vh;
  font-size: 40px;
  font-weight: bold;

  margin-bottom: 20px;
  box-sizing: border-box;
}

.slide-container img {
  width: 100%;
  height: 100%;
}

.slide-btn {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  cursor: pointer;
  height: 200px;
  outline: none;
}

.slick-track {
  display: flex;
}

.slider-nav .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;

  outline: none;
}

.slider-nav .slick-arrow.slick-prev {
  left: 0;
  border: none;
  background: url("../sl-arrow_l.svg") 0 0 / 100% no-repeat;
  transform: translate(0, -50%);
}

.slider-nav .slick-arrow.slick-next {
  right: 0;
  border: none;
  background: url("../sl-arrow_r.svg") 0 0 / 100% no-repeat;
  transform: translate(0, -50%);
}
